@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500;700&family=Noto+Sans+KR:wght@300;400;500&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*

font-family: 'Kaisei Opti', serif;

font-family: 'Noto Sans KR', sans-serif;

*/
